:root {
  --dark-gray: #544B4C;
  --gray: #584F50;
  --light-gray: #585455;
  --white-blue: #F9FAFF;
  --white-blue-darker: #F9FAFF;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

#table-wrapper {
  display: flex;
  flex-direction: column;
}

#pre-table {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  margin-left: 20vw;
}

#pre-table img:first-child {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 27%;
}

#pre-table img:nth-child(2) {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%) scaleX(-1);
  left: 73%;
}

#pre-table h2 {
  font-weight: normal;
  color: var(--light-gray);
}

#pre-table h2 span {
  font-weight: bold;
  text-transform: uppercase;
}

table {
  margin: 0;
  border-collapse: collapse;
}

table th {
  border: none;
  padding: 10px;
  font-weight: bold;
  background-color: var(--gray);
  color: white;
  margin: 0;
}

table th:nth-child(2n) {
  background-color: var(--dark-gray);
}

table th:first-child {
  background: none;
}

table th:nth-child(2) {
  border-radius: 30px 0 0 30px;
  padding-left: 24px;
}

table th:last-child {
  border-radius: 0 30px 30px 0;
  padding-right: 24px;
}

table tr {
  border-top: 1px solid var(--white-blue);
}

table tr:first-child {
  border: none;
}

table td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--light-gray);
}

table td img {
  display: block;
  margin: auto;
  max-width: 40px;
}

.row-rain img {
  height: 20px;
  width: auto;
}

table td:nth-child(2n) {
  background-color: var(--white-blue);
}

table td:first-child {
  color: var(--light-gray);
  text-align: center;
  font-weight: 600;
  font-size: .9em;
}

table td:first-child span {
  font-weight: normal;
  font-size: .8em;
}

table td img {

}
